<div class="container">
        <br>
           <div class="row">
                <div class="col-4">
                        <div class="text-center">
                                <img src="assets/img/register1.jpg" class="rounded" alt="..." style="width:50%">
                         </div>
                </div>
                <div class="col-8">
                    <form [formGroup]="registerForm" (ngSubmit)="register()" >
                        <div class="form-group">
                            <input class="form-control"  formControlName="email" placeholder="Enter your Email" style="width:50%">
                        </div>
                        <div class="form-group">
                            <input class="form-control" formControlName="username" placeholder="Enter your username" style="width:50%">
                        </div>
                        <div class="form-group">
                                <input class="form-control"  formControlName="password" placeholder="Enter your password" style="width:50%">
                            </div>
                            <div class="form-group">
                                <input class="form-control" formControlName="age" placeholder="Enter your age" style="width:50%">
                            </div>
                        <input type="submit" class="btn btn-secondary align-right" value="Register">
                        </form> 
                </div>
           </div>
               
    <div>