<nav class="navbar navbar-expand-lg   navbar-dark bg-dark">
    <div class="collapse navbar-collapse" >
        
        
        <div [ngSwitch]="loggedType">
            <div   *ngSwitchCase="'home'" >
                    <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/register"><h2>Register</h2></a> 
                <a class="nav-item nav-link" routerLink="/login"><h2>Login</h2></a> 
            </div>
              </div>
          <div   *ngSwitchCase="'customer'" >
                <div class="navbar-nav">
              
                    <div class="col-1">
                            <a class="nav-item nav-link" routerLink="/home"><h2>Home</h2></a> 
                           
                    </div>
                    <div class="offset-2 col-1">
                            
                            <a class="nav-item nav-link" routerLink="/home/address"><h2>Address</h2></a>
                            
                    </div>
                    <div class="offset-2 col-1">
                            
                            <a class="nav-item nav-link" routerLink="/home/cart"><h2>Cart</h2></a>
                    </div>
                    <div class="offset-10 col-4" style="margin-right: 10px">
                            <a class="nav-item nav-link" (click)="logout()"><h2>Log out</h2></a> 
                    </div>
        </div>
          </div>
          <div   *ngSwitchCase="'admin'" >
                <div class="navbar-nav">
              <a class="nav-item nav-link" routerLink="/admin"><h2>Home</h2></a> 
              <a class="nav-item nav-link" (click)="logout()"><h2>Log out</h2></a> 
            </div>
            </div>
        </div>
    </div>
    
  
</nav>